<%- include('header'); -%>

<h1 class="text-6xl text-center mt-10">Contact Us</h1>

<div class="pt-10 px-32">
    <div class="flex">
        <img src="/support.png" class="w-40" alt="">
        <h1 class="text-6xl my-auto ml-10"><i>Support</i></h1>
    </div>
    <div class="mt-10 flex flex-row">
        <form action="" method="post" class="">
            <div class="flex flex-row gap-x-5 mb-5">
                <input type="text" placeholder="First Name" class="p-2 w-72 border border-2 border-black rounded-md">    
                <input type="text" placeholder="Last Name" class="p-2 w-72 border border-2 border-black rounded-md">
            </div>
            <input type="email" placeholder="Email" name="" id="" 
                class="p-2 mb-5 w-[596px] border border-2 border-black rounded-md block">
            <textarea name="" placeholder="Message" id="" class="p-2 h-44 w-[596px] border border-2 border-black rounded-md"></textarea>
        </form>
        <p class="text-xl pl-10">
            <i>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </i>
        </p>
    </div>
</div>

<%- include('footer'); -%>