<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blogs</title>
</head>
<body class="bg-[#FFFECB]">
    <div class="flex justify-center gap-x-[700px] py-10 bg-[#F5F4B3]">
        <div class=""><h1 class="text-4xl text-[#758694]">Daily Blog Posts</h1></div>
        <div class="float-right">
            <ul class="flex flex-row gap-x-10 text-2xl text-[#758694]">
                <li>
                    <form action="/" method="post">
                        <button type="submit" name="page" value="home" class="bg-transparent border-none cursor-pointer">Home</button>
                    </form>
                </li>
                <li>
                    <form action="/" method="post">
                        <button type="submit" name="page" value="about-us" class="bg-transparent border-none cursor-pointer">About Us</button>
                    </form>
                </li>
                <li><form action="/" method="post">
                    <button type="submit" name="page" value="contact-us" class="bg-transparent border-none cursor-pointer">Contact Us</button>
                </form></li>
            </ul>
        </div>
    </div>