<%- include('header'); -%>

<div class="pt-20 px-32">
    <div class="mb-10">
        <h2 class="text-3xl mb-2"> <%= xTitles %> </h2>
        <div class="flex">
            <p> <%= xPosts %> </p>
        </div>
    </div>
</div>


<%- include('footer'); -%>